.link {
    fill: none;
    stroke: #808080;
    stroke-width: 2px;
}

.nodeRadial {
    fill: #808080;
}

.btn {
    color: grey;
}

.link--active {
    stroke: blue !important;
    stroke-width: 2px;
}

.link-extension--active {
    stroke-opacity: .6;
}

.label--active {
    font-weight: bold;
}

.text-label {
    stroke: blue;
    font-size: 12px;
    fill: blue;
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #cfcfcf;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}