.link {
    fill: none;
    stroke: #808080;
    stroke-width: 2px;
}

.btn {
    color: grey;
}

.link--active {
    stroke: blue !important;
    stroke-width: 2px;
}

.link-extension--active {
    stroke-opacity: .6;
}

.label--active {
    font-weight: bold;
}

.text-label {
    stroke: blue;
    font-size: 12px;
    fill: blue;
}
